---
http_interactions:
- request:
    method: get
    uri: https://freesound.org/apiv2/search/text/?query=dog&token=7uSfL8YCFh4mLhB1Hl6iVnO1yzdmSUU36n26mAlD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
      X-Freesound-Host:
      - fs-appserver1
      X-Mapped-Host:
      - freesound.org
    body:
      encoding: UTF-8
      string: '{"count":3005,"next":"http://freesound.org/apiv2/search/text/?&query=dog&page=2","results":[{"id":392617,"name":"Dog
        Toy","tags":["squeal","childs-toy","animal","cat","Dog","whine","dog","toy","play","funny"],"license":"http://creativecommons.org/publicdomain/zero/1.0/","username":"ScreamStudio"},{"id":327666,"name":"Dog
        Bark.wav","tags":["bellow","barking","intimidating","angrily","bark","aggressive","barked","growl","OWI","thunder","breaking","yap","woof","shout","snap","dogs","big","Dog","bawl","snarl","fierce","aggressively","yelp","roar","cry","dog","bay","yell"],"license":"http://creativecommons.org/licenses/by-nc/3.0/","username":"Juan_Merie_Venter"},{"id":337101,"name":"Group_of_Dogs_Barking.WAV","tags":["growling","growl","Group","barking","animal","pet",[...]
