---
http_interactions:
- request:
    method: get
    uri: https://freesound.org/apiv2/search/text/?query=dog&token=7uSfL8YCFh4mLhB1Hl6iVnO1yzdmSUU36n26mAlD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Allow:
      - GET, HEAD, OPTIONS
      X-Freesound-Host:
      - fs-appserver2
      X-Mapped-Host:
      - freesound.org
    body:
      encoding: ASCII-8BIT
      string: '{"count":4147,"next":"http://freesound.org/apiv2/search/text/?&query=dog&page=2","results":[{"id":392617,"name":"Dog
        Toy","tags":["funny","play","toy","dog","whine","Dog","cat","animal","childs-toy","squeal"],"license":"http://creativecommons.org/publicdomain/zero/1.0/","username":"ScreamStudio"},{"id":327666,"name":"Dog
        Bark.wav","tags":["bellow","barking","intimidating","angrily","bark","aggressive","barked","growl","OWI","thunder","breaking","yap","woof","shout","snap","dogs","big","Dog","bawl","snarl","fierce","aggressively","yelp","roar","cry","dog","bay","yell"],"license":"http://creativecommons.org/licenses/by-nc/3.0/","username":"Juan_Merie_Venter"},{"id":518166,"name":"Dog
        walks on wooden floor","tags":["walking","floor","wooden","Dog","dog","step[...]
