---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/trends/available.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="9Pro6TQu4AIkbPe8tBSgcL4y2", oauth_nonce="0f7807f7bd9d4670cfd30ae640d83f7d",
        oauth_signature="EHHIPdB5XiFMzoh%2FI8GZGQE09VI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1537803392", oauth_token="1042791038446985218-ysli8LkXQojyScJzAjpq6LQZtDGotJ",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 24 Sep 2018 15:36:32 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - d0c76351628f2ff505a8bd5336c9754b
      X-Rate-Limit-Limit:
      - '75'
      X-Rate-Limit-Remaining:
      - '70'
      X-Rate-Limit-Reset:
      - '1537804242'
      X-Response-Time:
      - '21'
      X-Transaction:
      - 00b024a7006323fc
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '[{"name":"Worldwide","placeType":{"code":19,"name":"Supername"},"url":"http:\/\/where.yahooapis.com\/v1\/place\/1","parentid":0,"country":"","woeid":1,"countryCode":null},{"name":"Winnipeg","placeType":{"code":7,"name":"Town"},"url":"http:\/\/where.yahooapis.com\/v1\/place\/2972","parentid":23424775,"country":"Canada","woeid":2972,"countryCode":"CA"},{"name":"Ottawa","placeType":{"code":7,"name":"Town"},"url":"http:\/\/where.yahooapis.com\/v1\/place\/3369","parentid":23424775,"country":"Canada","woeid":3369,"countryCode":"CA"},{"name":"Quebec","placeType":{"code":7,"name":"Town"},"url":"http:\/\/where.yahooapis.com\/v1\/place\/3444","parentid":23424775,"cou[...]
- request:
    method: get
    uri: https://api.twitter.com/1.1/trends/place.json?id=1
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="9Pro6TQu4AIkbPe8tBSgcL4y2", oauth_nonce="e89cfd4d4ce41acd63af9f04931b3a4a",
        oauth_signature="ajepYxb9lIaFug27Yj4aOKh3q1M%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1537803392", oauth_token="1042791038446985218-ysli8LkXQojyScJzAjpq6LQZtDGotJ",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 24 Sep 2018 15:36:32 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - bd8628eaba350484c007e11a149ed844
      X-Rate-Limit-Limit:
      - '75'
      X-Rate-Limit-Remaining:
      - '72'
      X-Rate-Limit-Reset:
      - '1537804242'
      X-Response-Time:
      - '21'
      X-Transaction:
      - 00f8b25f0000e3a0
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '[{"trends":[{"name":"#FelizLunes","url":"http:\/\/twitter.com\/search?q=%23FelizLunes","promoted_content":null,"query":"%23FelizLunes","tweet_volume":55281},{"name":"#OTDirecto24SEP","url":"http:\/\/twitter.com\/search?q=%23OTDirecto24SEP","promoted_content":null,"query":"%23OTDirecto24SEP","tweet_volume":55328},{"name":"Rosenstein","url":"http:\/\/twitter.com\/search?q=Rosenstein","promoted_content":null,"query":"Rosenstein","tweet_volume":201590},{"name":"#\u0627\u0644\u0647\u0644\u0627\u0644_\u0627\u0644\u0641\u062A\u062D","url":"http:\/\/twitter.com\/search?q=%23%D8%A7%D9%84%D9%87%D9%84%D8%A7%D9%84_%D8%A7%D9%84%D9%81%D8%AA%D8%AD","promote[...]
